<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Simple charts</h4>
              <p class="card-category">Here is a subtitle for this charts</p>
            </div>
            <div class="card-body row">
              <div class="col-10">
                <div echarts [options]="chartOption" class="demo-chart"></div>
              </div>
              <div class="col-2 brdr2pxSolid">
                  <div class="dspFlxSpaceAround">
                    <button mat-raised-button color="warn">Buy</button>
                    <button mat-raised-button color="warn">Sell</button>
                  </div>
                  <div>
                  xxxxxx xxxxxxx x
                  </div>
                  <div>
                    xxxxxx xxxxxxx x
                    </div>
                    <div>
                      xxxxxx xxxxxxx x
                      </div>
                      <div>
                        xxxxxx xxxxxxx x
                        </div>
                        <div>
                          xxxxxx xxxxxxx x
                          </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  